@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

input {
  padding: 8px 12px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
  font-size: 18px;
}

label{
  font-size: 16px;
  font-weight: 600;
}